/* ceci est un commentaire */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(97, 174, 97);      
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
    font-style: medium;
    font-weight: bold;
    padding: 0;
    margin:  0;
}

header nav ul a {
    background-color: gray;
    border: 3px solid black;
    color: black;
    padding: 1rem 2rem;
    text-decoration: none;
}
h1 {
    font-size: 5rem;
    
}

img{

    width: 100px;
    
}
img.medium-size {
    width: 100px;
}
.form--radio-buttons--scrollable,
.form--radio-buttons--scrollable {
    border: 100px black solid;
    max-height: 250px;
    overflow: auto;
    width: 800px;
}
.form--radio-buttons-image {
    height: 100px;
}